# === OS ===
.DS_Store
Thumbs.db

# === IDE ===
.idea/
.vscode/
*.swp
*.swo

# === Python ===
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# === Docker ===
*.log

# === Spark JARs (large files, download via setup.sh) ===
spark/jars/*.jar

# === Airflow ===
airflow/logs/

# === Vagrant ===
.vagrant/
k8s/vagrant/join-command.sh
k8s/vagrant/kubeconfig
k8s/spark/jars

# === PostgreSQL / MinIO data ===
postgres/
minio/

# === dbt ===
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# === Superset ===
superset/*.db
